.cuadrado{
    width: 200px;
    height: 200px;
    background-color: beige;
    position: relative;
}
.cuadrado:hover{
    animation-name: fiufiu;
    animation-duration: 15s;
}

@keyframes fiufiu {
    0%{
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25%{
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50%{
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    100%{
        background-color: green;
        left: 0;
        top: 200px;
    }

}

h1{

        -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes focus-in-expand-fwd {
        0% {
          letter-spacing: -0.5em;
          -webkit-transform: translateZ(-800px);
                  transform: translateZ(-800px);
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      @keyframes focus-in-expand-fwd {
        0% {
          letter-spacing: -0.5em;
          -webkit-transform: translateZ(-800px);
                  transform: translateZ(-800px);
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          -webkit-filter: blur(0);
                  filter: blur(0);
          opacity: 1;
        }
      }
      
  


      @-webkit-keyframes bounceInLeft {
        from, 60%, 75%, 90%, to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      
        0% {
          opacity: 0;
          -webkit-transform: translate3d(-3000px, 0, 0);
          transform: translate3d(-3000px, 0, 0);
        }
      
        60% {
          opacity: 1;
          -webkit-transform: translate3d(25px, 0, 0);
          transform: translate3d(25px, 0, 0);
        }
      
        75% {
          -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
        }
      
        90% {
          -webkit-transform: translate3d(5px, 0, 0);
          transform: translate3d(5px, 0, 0);
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      @keyframes bounceInLeft {
        from, 60%, 75%, 90%, to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      
        0% {
          opacity: 0;
          -webkit-transform: translate3d(-3000px, 0, 0);
          transform: translate3d(-3000px, 0, 0);
        }
      
        60% {
          opacity: 1;
          -webkit-transform: translate3d(25px, 0, 0);
          transform: translate3d(25px, 0, 0);
        }
      
        75% {
          -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
        }
      
        90% {
          -webkit-transform: translate3d(5px, 0, 0);
          transform: translate3d(5px, 0, 0);
        }
      
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
      
      .bounceInLeft {
        -webkit-animation-name: bounceInLeft;
        animation-name: bounceInLeft;
      }
      
      .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }