*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    background-color: bisque;
    /*
    flex-direction: column;
    align-items: center; con colum me lo mueve de izquierda a derecha
    justify-content: center; con colum de arriba hacia abajo
   */
   /*
    flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;
    justify-content: center; /*eje x o horizontal*/
    align-content: center;
     /*eje y o vertical*/
    /*
    gap: 5px; 
    gap: 5px 20px;
    row-gap: 30px;
    column-gap:5px;
 */
}

.box{
    width: 200px;
    height: 200px;
}
.box-1 {
    background-color: lightblue;
    order:8;
    
}
.box-2 {
    background-color: rgb(230, 196, 173);
    order:5 ;
}
.box-3 {
    background-color: rgb(184, 230, 173);
    order: 3;
}
.box-4 {
    background-color: rgb(173, 181, 230);
    order: 4;
    /*
    flex-grow: 2;
    align-self: flex-end;*/
}
.box-5 {
    background-color: rgb(213, 173, 230);
    order:2 ;
}
.box-6{
    background-color: rgb(230, 173, 202);
    order:6 ;
}
.box-7 {
    background-color: rgb(230, 173, 173);
    order: 7;
}
.box-8 {
    background-color: rgb(230, 228, 173);
    order: 1;
}
